name: Docker Build and Push

on:
  workflow_call:
    inputs:
      role_arn:
        required: true
        type: string
      ecr_repo:
        required: true
        type: string

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.role_arn }}
          aws-region: us-east-1

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ inputs.ecr_repo }}:latest docker_build/sample-service
          docker push ${{ inputs.ecr_repo }}:latest
