name: Terraform Plan

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      tfvars:
        required: true
        type: string
      role_arn:
        required: true
        type: string

jobs:
  plan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.role_arn }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init

      - name: Select Workspace
        run: |
          terraform workspace select ${{ inputs.env }} \
          || terraform workspace new ${{ inputs.env }}

      - name: Terraform Plan
        run: terraform plan -var-file=${{ inputs.tfvars }} -out=tfplan

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: tfplan
