name: Docker Build & Push

on:
  workflow_call:
    inputs:
      role_arn:
        required: true
        type: string
      ecr_repo:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.role_arn }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ inputs.ecr_repo }}:latest \
            docker_build/sample-service

      - name: Push Docker image
        run: |
          docker push ${{ inputs.ecr_repo }}:latest
