name: Terraform Apply

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      tfvars:
        required: true
        type: string
      role_arn:
        required: true
        type: string

jobs:
  apply:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.role_arn }}
          aws-region: us-east-1

      - uses: actions/download-artifact@v4
        with:
          name: tfplan

      - run: terraform init
      - run: terraform workspace select -or-create ${{ inputs.env }}
      - run: terraform apply tfplan
