name: Reusable Terraform Apply

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      tfvars:
        required: true
        type: string
      role_arn:
        required: true
        type: string
      run_id:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  apply:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.role_arn }}
          aws-region: us-east-1

      - name: Download tfplan from PLAN workflow
        uses: actions/download-artifact@v4
        with:
          name: tfplan
          run-id: ${{ inputs.run_id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Terraform Init
        run: terraform init

      - name: Select Workspace
        run: terraform workspace select ${{ inputs.env }}

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
