name: Terraform Plan

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      tfvars:
        required: true
        type: string
      role_arn:
        required: true
        type: string

jobs:
  plan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.role_arn }}
          aws-region: us-east-1

      - run: terraform init

      - run: terraform workspace select -or-create ${{ inputs.env }}

      - run: terraform plan -var-file=${{ inputs.tfvars }} -out=tfplan-${{ inputs.env }}

      - uses: actions/upload-artifact@v4
        with:
          name: tfplan-${{ inputs.env }}
          path: tfplan-${{ inputs.env }}
